.selected {
    min-height: 50px;
}

.customSelect {
    position: relative;
    width: 100%;
    text-align: left;
    outline: none;
    height: 47px;
    line-height: 47px;
    z-index: 2;
}

.customSelect .selected:after {
    position: absolute;
    content: '';
    right: 1em;
    width: 0;
    height: 0;
    transition: all var(--transition);
    transform: rotate(0) translateY(0);
    transform-origin: top;
    border: 5px solid var(--accent);
    border-color: var(--accent) transparent transparent transparent;
    z-index: 100;
}

.customSelect.open .selected:after {
    transform: rotate(180deg) translateY(-3px);
}

.selected {
    border-radius: var(--small-radius);
    border: 1px solid var(--accent);
    background: transparent;
    padding-left: 15px;
    padding-right: 44px;
    cursor: pointer;
    user-select: none;

    &__title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &.show {
        &~.items {
            max-height: 250px;
            transition: all var(--transition);
            visibility: visible;
        }
    }

    &__close {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.customSelect.open .selected {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selected:after {
    position: absolute;
    content: '';
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
}

.items {
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    border-right: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    position: absolute;
    background-color: var(--light);
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 0;
    overflow-y: scroll;
    transition: all var(--transition);
    visibility: hidden;

    &__filter {
        position: relative;
        display: flex;
        gap: 32px;
        padding: 20px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 0.5px;
            background-color: var(--default);
            transform: translate(-50%, -50%);
        }
    }
}

.item {
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scrollbar-color: var(--accent);
    scrollbar-width: thin;
    color: var(--default);

    &__title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &:hover {
        background-color: var(--default);
        color: var(--light);
    }
}